
<div class="container">
<div class="row">
  <div class="col-lg-4">
    <img src="<%= @user.avatar %>" class="img-rounded" alt="Cinque Terre" style="width:100%; margin-top: 15px;">
  </div>
  <div class="col-lg-8">
    <div class="alert alert-info" style="width:50%">
      <strong>Username:</strong>
      <%= @user.username %>
    </div>
    <div class="alert alert-info" style="width:50%">
      <strong>Name:</strong>
      <%= @user.fullname %>
    </div>
    <div class="alert alert-info" style="width:50%">
      <strong>Gender:</strong>
      <%= @user.sex = 1? "male": "female" %>
    </div>
    <div class="alert alert-info" style="width:50%">
      <strong>Birth:</strong>
      <%= @user.birthday %>
    </div>
    <div class="alert alert-info" style="width:50%">
      <strong>From:</strong>
      <%= @user.address %>
    </div>
    <div class="alert alert-info" style="width:50%">
      <strong>Work at:</strong>
      <%= @user.email %>
    </div>
  </div>
</div>
<br>
<div class="text-xs-right">
  <a href="/" class="btn btn-info">Back</a>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-success' %>
</div>
</div>
